# Core
opencv-python
numpy
matplotlib
python-dotenv
python-multipart
scikit-learn

# GUI
PyQt6

# AI & Machine Learning
torch
torchvision
tensorflow
tf-keras
ultralytics
segmentation-models-pytorch
onnxruntime

# Face Recognition
insightface
retina-face
mtcnn
keras-facenet

# Backend & API
fastapi
uvicorn
pymongo
cloudinary